body {
    background-image: url("https://fondosmil.com/fondo/17010.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    width: 20%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

form {
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
}
label {
    font-weight: bold;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.boton {
    border-radius: 10px;
    width: 90%;
    height: 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.texto {
    height: 80px !important;
}
@media screen and (max-width:1480px){
    form{
        width:60%;
    }
    body{
        background-size: cover;
    }
    h4{
        width: 35%;
    }
}
@media screen and (max-width:800px){
    form {
        width:80%
    }
    body{
        background-size: cover;
    }
    h4{
        width: 35% !important; 
    }    
}